body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #F2D9B3;
    border-bottom: 3px solid #BD483C;
    padding-left: 30px;
    font-size: 24px;
}

.quem-somos{
    background-color: #8E9DBF;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #e6e0d7;
}

.servicos{
    background-color: #A9944A;
}

.bg-footer{
    background-color: #BD483C;
    color: white;
    font-size: 15px;
    border-top: 2px solid black;
}